<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300&family=Poppins:ital,wght@0,400;1,200&display=swap"
        rel="stylesheet" async>
    <title>Catálogo</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <img src="{{url_for('static', filename='imgs/posicion.jpg')}}">
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Cargar imagen">
    </form>
    {% if image_name %}
        <img src="{{url_for('static', filename='imgs/')}}{{image_name}}" alt="">
    {% endif %}
</body>

</html>